ul.topnav {
    display: flex;
    position: fixed;
    list-style-type: none;
    margin: 10px;
    left: 5%;
    top: 0%;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 20px;
  }
  
ul.topnav li {
    float: left;
}

ul.topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111
}

ul.topnav li a.active {
    background-color: #04AA6D;
}

ul.topnav li.right {
    float: right;
}
